<html>
  <head></head>
  <body>
    <script>
      var YOUR_CLIENT_ID =
        '471404572804-kcch4gv86ksn37hou0bm2j7m0mfdb9j8.apps.googleusercontent.com';

      var YOUR_REDIRECT_URI = 'http://localhost:3000/redirect';
      var fragmentString = location.hash.substring(1);

      // Parse query string to see if page request is coming from OAuth 2.0 server.

      /*
       * Create form to request access token from Google's OAuth 2.0 server.
       */
      function oauth2SignIn() {
        // Google's OAuth 2.0 endpoint for requesting an access token
        var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';

        // Create element to open OAuth 2.0 endpoint in new window.
        var form = document.createElement('form');
        form.setAttribute('method', 'GET'); // Send as a GET request.
        form.setAttribute('action', oauth2Endpoint);

        var scopes = [
          'https://www.googleapis.com/auth/userinfo.profile',
          'https://www.googleapis.com/auth/userinfo.email',
        ];
        // Parameters to pass to OAuth 2.0 endpoint.
        var params = {
          client_id: YOUR_CLIENT_ID,
          redirect_uri: YOUR_REDIRECT_URI,
          scope: scopes.join(' '),
          state: 'try_sample_request',
          include_granted_scopes: 'true',
          response_type: 'code',
        };

        // Add form parameters as hidden input values.
        for (var p in params) {
          var input = document.createElement('input');
          input.setAttribute('type', 'hidden');
          input.setAttribute('name', p);
          input.setAttribute('value', params[p]);
          form.appendChild(input);
        }

        // Add form to page and submit it to open the OAuth 2.0 endpoint.
        document.body.appendChild(form);
        form.submit();
      }
    </script>

    <button onclick="oauth2SignIn();">Try sample request</button>
  </body>
</html>
