<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>REDIRECT</h1>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const code = urlParams.get('code');
      if (code) {
        url = `http://localhost:3000/google-authentication/authenticateWithGoogle?code=${code}`;
        fetch(url, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        });
      } else {
        console.error('Authorization code not found in the URL.');
      }
    </script>
  </body>
</html>
